.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40vh 40vw 40vh 40vw;
}

#button {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}
